<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.all.min.js
"></script>
    <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.12.4/dist/sweetalert2.min.css
" rel="stylesheet">

</head>
<body>
    <div class="wrapper">
        <!-- header fragment 사용 -->

        <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

        <!-- aside fragment 사용 -->
        <div th:replace="~{fragments/aside :: asideFragment}"></div>

        <!-- content fragment 사용 -->
        <div class="content">
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>
    <script src="/js/common.js"></script>
</body>
</html>