<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout}"
        lang="en"
>
<head>
    <meta charset="UTF-8"/>
    <title>Community</title>
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">-->
</head>
<body>
<div layout:fragment="content">
    <!-- 파일 -->
    <link rel="stylesheet" href="/css/admin/report.css"/>

    <h1 class="title">🚨 신고 관리</h1>
    <div class="condition">
        <!-- 검색 조건 -->
        <div class="controls">
            <div class="filter-sort">
                <div class="dropdown">
                    <label for="filter">필터</label>
                    <select id="filter">
                        <option value="전체 목록">전체 목록</option>
                        <option value="질문 신고 목록">질문 신고 목록</option>
                        <option value="게시글 신고 목록">게시글 신고 목록</option>
                        <option value="댓글 신고 목록">댓글 신고 목록</option>
                        <option value="채팅 신고 목록">채팅 신고 목록</option>
                    </select>
                </div>
                <div class="dropdown">
                    <label for="sort">정렬</label>
                    <select id="sort">
                        <option value="신고 일자 오름차순">신고 일자 오름차순</option>
                        <option value="신고 일자 내림차순">신고 일자 내림차순</option>
                    </select>
                </div>
            </div>
            <div class="search">
                <label for="search-id">검색</label>
                <input
                        type="text"
                        id="search-id"
                        placeholder="신고 대상자 아이디"
                />
                <button id="search-btn">확인</button>
            </div>
        </div>
    </div>

    <!-- 신고 목록 -->
    <div class="report-container">
        <!-- report box 예시 -->
        <div class="report-list">
            필터를 적용한 후 '확인'을 클릭해주세요.
        </div>
    </div>

    <!-- javascript 파일 추가 -->
    <script src="/js/admin/report.js"></script>
</div>
</body>
</html>
