<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>termsOfUse</title>
    <link rel="stylesheet" th:href="@{/css/admin/termsOfUse.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="text-container">
        <h1>이용약관</h1>
        <h2>1. 서비스 이용 주체</h2>
        <p>귀하는 플랫폼과 구속력 있는 계약을 체결하는 데 동의하고 해당 관할권의 법률에 의거 서비스 이용이 금지된 자가 아닐 경우에만 본 서비스를 이용할 수 있습니다. 귀하가 회사, 단체, 정부 또는 그 외 법인을 대신하여 본 약관에 동의하고 본 서비스를 이용하는 경우, 귀하는 귀하에게 그에 대한 권한이 있으며 해당 권리주체를 본 약관에 구속시킬 권한이 있음을 진술 및 보증합니다. 이 경우 본 약관에서 사용되는 “귀하” 및 “귀하의”라는 용어는 해당 권리주체를 의미합니다.</p>

        <h2>2. 개인정보</h2>
        <p>당사의 개인정보 처리방침은 귀하가 플랫폼 이용 시 제공하는 정보를 당사가 취급하는 방식을 기술합니다. 귀하는 플랫폼을 이용함으로써 귀하의 정보를 저장, 처리 및 이용할 목적으로 미국 또는 그 밖의 국가로 이전하는 등 (개인정보 처리방침에 규정된 바와 같이) 수집 및 이용하는 것에 대해 동의하는 것임을 이해합니다.</p>

        <h2>3. 서비스의 콘텐츠</h2>
        <p>당사가 관련 법령에 따라 법률상 책임을 지는 경우를 제외하면, 귀하는 플랫폼 이용과 귀하가 제공하는 컨텐츠(귀하의 컨텐츠가 관련 법률, 규정, 규칙을 준수하는지 여부 포함)에 대하여 책임이 있습니다. 귀하는 불법적이지 않은 합법적인 규정 내 타인과 편하게 공유할 수 있는 컨텐츠만을 제공하여야 합니다.</p>
        <p>귀하는 플랫폼을 통해 게시되거나 귀하가 플랫폼을 통해 취득하는 모든 컨텐츠 또는 자료의 이용 또는 신뢰에 대한 위험을 스스로 부담합니다. 당사는 플랫폼을 통해 게시되는 컨텐츠나 전달 사항의 완전성, 진실성, 정확성 또는 신뢰성을 지지, 지원, 대변 또는 보증하거나 플랫폼을 통해 표출된 어떠한 의견도 지지하지 않습니다. 귀하는 플랫폼을 이용함으로써 불쾌하거나 유해하거나 부정확하거나 어떤 식으로든 부적절하다고 판단될 만한 컨텐츠에 노출될 수 있으며, 경우에 따라서는 허위 내용으로 등록되었거나 기만적인 게시물에 노출될 수도 있음을 이해합니다. 모든 컨텐츠에 대한 책임은 해당 컨텐츠를 스스로 게시한 사용자가 전적으로 부담합니다. 당사는 플랫폼을 통해 게시되는 컨텐츠를 감시하거나 통제하지 못 할 수 있으며, 그러한 컨텐츠에 대해 당사는 어떤한 책임도 부담하지 않습니다. 당사는 가령 저작권, 상표권 또는 기타 지식재산권 침해 혐의가 있거나 사칭, 위법한 행위 또는 가학적 내용 등의 컨텐츠를 삭제할 수 있는 권리가 있습니다. 이러한 사항에 대해 신고 절차나 구체적인 방침은 당사의 고객센터 또는 플랫폼 내 신고하기 메뉴를 참고하시기 바랍니다.</p>

        <h2>4. 서비스 이용</h2>
        <p>귀하는 본 약관 및 관련 법률, 규칙 및 규정을 준수하는 경우에 한하여 플랫폼을 이용할 수 있습니다.</p>
        <p>플랫폼은 끊임없이 진화하고 있으며, 따라서 당사의 재량에 따라 수시로 변경될 수 있습니다. 귀하 또는 사용자들을 대상으로 플랫폼(또는 서비스에 포함된 모든 기능)의 제공을 (영구적 또는 일시적으로) 중단할 수 있습니다. 또한 당사는 당사의 재량에 따라 언제든지 이용 및 저장에 대한 상한을 설정할 권리가 있습니다. 당사는 또한 귀하에 대한 책임 없이 플랫폼에서 컨텐츠를 삭제하거나 배포를 거부하고, 컨텐츠의 배포나 게시를 제한할 수 있으며, 사용자의 이용을 중단 또는 해지하며, 아이디 및 사용자명을 반환받을 수 있습니다.</p>

        <h2>5. 책임의 부인 및 제한</h2>
        <p>귀하가 당사의 플랫폼 및 서비스를 통해 컨텐츠 접근하거나 이를 이용할 경우 그 책임은 귀하에게 있습니다. 귀하는 본 서비스가 귀하에게 “있는 그대로” 그리고 “가용한 범위 내에서” 제공된다는 사실을 이해하고 이에 동의합니다.</p>
        <p class="small-text">“당사자”란 WAY 및 관련된 모회사, 자회사, 계열사, 관계회사, 임원, 이사, 직원, 대리인, 대표, 파트너 및 라이센서를 지칭합니다. 전술한 요건을 제한함이 없이, 관련 법령상 최대한 허용되는 범위 내에서 당사자들은 상품성, 특정 목적에 대한 적합성 또는 비침해성에 관해 명시적이거나 묵시적인 어떠한 보증 및 조건도 부인합니다.</p>

        <h2>6. 마케팅 정보 활용 동의</h2>
        <p>본 마케팅 정보 수신에 대한 동의를 거부하실 수 있으며, 이 경우 회원가입은 가능하나 일부 서비스 이용 및 각종 광고, 서비스, 이벤트 및 이용자 맞춤형 서비스 추천 등 기타 서비스 제공이 제한될 수 있습니다.</p>

        <h2>7. 일반 규정</h2>
        <p>당사는 본 약관을 수시로 개정할 수 있습니다. 수정사항은 소급적용되지 않으며, 본 약관의 최신버전이 당사와 귀하 간의 관계를 규율합니다. 당사는 귀하에게 서비스 내 공지하거나 귀하의 계정과 연결된 이메일로 이메일을 발송하는 등 주요 개정사항에 대해 고지할 것입니다. 귀하는 개정사항이 발효한 이후 본 서비스를 계속해서 접근 및 이용함으로써 개정된 본 약관의 적용을 받는 것에 동의합니다.</p>
        <p>본 약관에 관한 질문이 있으신 경우 고객센터로 문의하시길 바랍니다.</p>

        <h2>8. 관계법령에 의한 회원정보 보관</h2>
        <p>회사는 관계법령의 규정에 의하여 보관할 필요가 있는 경우 아래와 같이 일정한 기간 동안 회원정보를 보관 후 파기합니다:</p>
        <ul>
            <li>서비스 이용기록(저작물 작성 시 IP, 단, 이용자가 저작물 삭제한 경우는 보관하지 않음)</li>
            <li>이용자 접속 정보(회원 가입 시 IP, 최종 접속 시간): 3개월 (통신비밀보호법)</li>
        </ul>
    </div>
</div>
</body>
</html>
