<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>youthProtectionPolicy</title>
    <link rel="stylesheet" th:href="@{/css/admin/termsOfUse.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="text-container">
        <div class="text-container">
            <h1>청소년 보호정책</h1>
            <p>WAY는 모든 연령대가 자유롭게 이용할 수 있는 익명공간으로 유해정보로부터 청소년을 보호하고 청소년의 안전한 인터넷 사용을 돕기 위해 아래와 같이 정보통신망 이용촉진 및 정보보호 등에 관한 법률에서 정한 청소년 보호정책을 시행하고 있습니다.</p>

            <h2>1. 청소년 보호를 위한 목표 및 기본원칙</h2>
            <p>청소년이 정신적 또는 신체적으로 유해한 환경으로부터 보호받고 유익한 환경을 조성하도록 노력하며, 안전하게 인터넷을 이용할 수 있는 서비스를 제공하기 위해 청소년보호정책을 아래와 같이 명시하고 있습니다.</p>

            <h2>2. 청소년 보호장치</h2>
            <p>청소년이 아무런 제한장치 없이 유해한 정보에 노출되지 않도록 청소년 유해 매체물에 대해서는 인증장치를 마련하거나 유해정보에 노출되지 않게 하기 위해 예방차원의 조치를 강구하고 있습니다.</p>

            <h2>3. 유해정보로 인한 피해상담 및 고충처리</h2>
            <p>유해정보로 인한 피해상담 및 고충처리를 위한 전문인력을 배치하여 구제조치의 지연 및 처리 미숙으로 인한 피해가 확산되지 않도록 노력하고 있으며, 하단에 명시한 책임자 연락처를 참고하여 메일을 통하여 피해상담 및 고충처리를 요청하실 수 있습니다.</p>

            <h2>4. 유해정보에 대한 청소년 접근제한 및 관리조치</h2>
            <p>불법적이거나 청소년에 유해한 키워드에 대한 금칙어를 일반 검색을 포함한 각종 서비스에 확대 적용 및 관리를 하고 있으며, 서비스 내 회원간의 자율적인 게시물 신고서비스를 이용하실 수 있습니다.</p>

            <h2>5. 유해정보로부터 청소년을 보호하기 위한 교육</h2>
            <p>청소년 보호담당자를 대상으로 청소년 보호를 위한 각종 관련 법령 및 제재기준, 유해정보 발견 시 대처방법, 위반사항 처리에 대한 보고절차 등을 교육하고 있습니다.</p>

            <h2>6. 전체 이용자들의 인식제고를 통한 청소년 보호</h2>
            <p>서비스 이용약관 등을 통하여 불건전한 행위를 할 경우 이용제한 또는 민형사상의 책임을 받을 수 있음을 고지하고 있으며, 신종 유해정보가 발생했을 경우 공지사항 또는 이메일을 통하여 이를 신속히 전파함으로써 청소년 및 전체 이용자를 보호하고 있습니다. 또한 각종 정보 건전화 교육 및 캠페인 등을 통하여 청소년 보호 의식을 공유하고 실천하기 위하여 노력하고 있습니다.</p>

            <h2>7. 청소년 보호 책임자의 지정</h2>
            <p>아래와 같이 청소년 보호책임자를 지정하여 청소년 유해정보의 차단 및 관리, 청소년 유해정보로부터 청소년 보호정책을 수립하는 등 청소년 보호업무를 지속적으로 수행하고 있습니다.</p>

            <p><strong>청소년 보호 책임자 :</strong> way@gmail.com</p>
        </div>
    </div>
</div>
</body>
</html>
