<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>Community</title>
</head>
<body>

<div layout:fragment="content">
    <!-- 파일 -->
    <link rel="stylesheet" href="/css/alarm/alarmSetting.css">

    <div class="alarm-container">
        <div class="alarm-item">
            <div class="alarm-text">
                <h3>새 질문 알림</h3>
                <p>새 질문을 받으면 알림을 받습니다.</p>
            </div>
            <div class="alarm-toggle">
                <label class="switch">
                    <input type="checkbox" data-id="NEW_QUESTION">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <hr>
        <div class="alarm-item">
            <div class="alarm-text">
                <h3>답변 알림</h3>
                <p>내가 보낸 질문에 대한 답변이 달리면 알림을 받습니다.</p>
            </div>
            <div class="alarm-toggle">
                <label class="switch">
                    <input type="checkbox" data-id="ANSWER">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <hr>
        <div class="alarm-item">
            <div class="alarm-text">
                <h3>댓글 알림</h3>
                <p>내가 쓴 게시글에 댓글이 달리면 알림을 받습니다.</p>
            </div>
            <div class="alarm-toggle">
                <label class="switch">
                    <input type="checkbox" data-id="COMMENT">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <hr>
        <div class="alarm-item">
            <div class="alarm-text">
                <h3>답글 알림</h3>
                <p>내가 쓴 댓글에 답글이 달리면 알림을 받습니다.</p>
            </div>
            <div class="alarm-toggle">
                <label class="switch">
                    <input type="checkbox" data-id="REPLY">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
    </div>

    <!-- javascript 파일 추가 -->
    <script src="/js/alarm/alarmSetting.js"></script>
</div>
</body>
</html>
