<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>WAY</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}">
</head>
<body>
<div layout:fragment="content">
    <h1>메인페이지</h1>
    <!-- 해당 유저의 피드로 가서 질문 창으로 갈 수 있게끔 -->
    <div class="feed-item" th:each="post : ${posts}">
        <h2 th:text="${post.postTitle}"></h2>
        <p th:text="${post.postContent}"></p>
        <p th:text="${#temporals.format(post.postCreatedAt,'yyyy년 MM월 dd일')}"></p>
        <div class="profile-info">
            <img th:if="${post.getUser().getUserImage() != null}" class="profile-picture" th:src="'/display?filename='+${post.getUser().getUserImage()}" alt="Profile Picture" />
            <img th:if="${post.getUser().getUserImage() == null}" class="profile-picture" th:src="@{/image/image.jpg}" alt="Profile Picture" />
            <p class="profile-name">
                <a th:href="@{/posts/{username}(username=${post.getUser().username})}" th:text="${post.getUser().username}"></a>
            </p>
        </div>
        <div class="btnContainer">
            <button class="detailBtn"><a th:href="@{'/posts/detail/' + ${post.postId}}"> 상세 보기</a></button>
        </div>
    </div>
    <div class="feed-item" th:each="question: ${questions}">
        <a th:href="@{'/questions/create/' + ${question.getAnswerer().userId}}"><p th:text="${question.getAnswerer().getNickname() + '가 받은 질문!!'}"></p></a>
        <h2 th:if="${question.isAnonymous == false}" th:text="${question.getQuestioner().getUsername()}"></h2>
        <h2 th:if="${question.isAnonymous != false}" th:text="익명"></h2>
        <p th:text=" ${question.getQuestion()}"></p>
        <p th:text=" ${question.getAnswer()}"></p>
        <p th:text="${#temporals.format(question.getQuestionDate(),'yyyy년 MM월 dd일')}"></p>
    </div>
</div>
</body>
</html>
