<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>WAY</title>
    <link rel="stylesheet" th:href="@{/css/common/main.css}">
</head>
<body>
<div layout:fragment="content">
    <h1>피드</h1>
    <div class="feed-item" th:each="post : ${posts}">
        <h2 th:text="${post.postTitle}"></h2>
        <p th:text="${post.postContent}"></p>
        <div class="containerBox">
            <p th:text="${#temporals.format(post.postCreatedAt,'yyyy년 MM월 dd일')}"></p>
        </div>
        <div class="profile-info">
            <img th:if="${post.getUser().getUserImage() != null}" class="profile-picture" th:src="'/display?filename='+${post.getUser().getUserImage()}" alt="Profile Picture" />
            <img th:if="${post.getUser().getUserImage() == null}" class="profile-picture" th:src="@{/image/image.jpg}" alt="Profile Picture" />
            <p class="profile-name">
                <a th:href="@{/posts/{username}(username=${post.getUser().username})}" th:text="${post.getUser().username}"></a>
            </p>
        </div>
        <div class="btnContainer">
            <button class="detailBtn"><a th:href="@{'/posts/detail/' + ${post.postId}}"> 상세 보기</a></button>
        </div>
    </div>
    <h1>질문</h1>
    <div class="question-item" th:each="question: ${questions}">
        <div th:if="${question.isAnonymous == false}" class="profile-info">
            <img th:if="${question.getQuestioner().getUserImage() != null}" class="profile-picture" th:src="'/display?filename='+${question.getQuestioner().getUserImage()}" alt="Profile Picture" />
            <img th:if="${question.getQuestioner().getUserImage() == null}" class="profile-picture" th:src="@{/image/image.jpg}" alt="Profile Picture" />
            <p class="profile-name">
                <a th:href="@{/posts/{username}(username=${question.getQuestioner().getUsername()})}"> <h2 th:text="${question.getQuestioner().getUsername()}"></h2></a>
            </p>
        </div>
        <div th:if="${question.isAnonymous != false}" class="profile-info">
            <img class="profile-picture" th:src="@{/image/image.jpg}" alt="Profile Picture" />
            <p class="profile-name">
                <h2 th:text="익명"></h2>
            </p>
        </div>
        <p th:text=" ${question.getQuestion()}"></p>
        <p th:text=" ${question.getAnswer()}"></p>
        <div class="containerBox">
            <p th:text="${#temporals.format(question.getQuestionDate(),'yyyy년 MM월 dd일')}"></p><br>
        </div>
        <div class="containerBox">
            <a th:href="@{'/questions/create/' + ${question.getAnswerer().userId}}" style="text-decoration: none;"><p th:text="${question.getAnswerer().getNickname() + '님 질문 보러가기'}"></p></a>
        </div>
    </div>
</div>
</body>
</html>
