<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/user/loginInfo.css">

</head>
<body>
<div class="container">
    <div class="left-side">
        <div class="logo">WAY</div>
    </div>
    <div class="right-side">
        <div class="right-panel">
            <h1>어떤 분야에 관심이 있나요?</h1>
            <p>
                관심사 태그를 추가해주세요!<br />태그와 관련된 유저를 추천해드립니다
                😆
            </p>
            <input type="text" placeholder="태그 검색" id="tagInput" />
            <button class="next-button" id="viewAll">전체보기</button>
            <div class="selected-tags">

            </div>
            <div class="available-tags">

            </div>
            <button class="next-button" id="finishBtn">완료</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        viewAll();
        $('#viewAll').click(function(){
            viewAll();
        });
        let availableContainer = $(".available-tags");
        let selectedContainer = $(".selected-tags");
        //전체 태그 불러오기
        function viewAll(){
            $.ajax({
                url:'/interest/all',
                method:'GET',
                success:function(result){
                    availableContainer.empty();
                    $.each(result, function(index, tag) {
                        let tagElement = $("<div>").text(tag.name).appendTo(availableContainer);


                        tagElement.on("click", function () {
                            if (!isTagAlreadySelected(tag.name)) {
                                $(this).appendTo(selectedContainer);
                            }
                        });
                    });
                },
                error:function (err){
                    console.log(err);
                }
            })
        }
        //이미선택했는지 체크
        function isTagAlreadySelected(tagName) {
            let isSelected = false;
            selectedContainer.find("div").each(function() {
                if ($(this).text() === tagName) {
                    isSelected = true;
                }
            });
            return isSelected;
        }

        //검색에 따라 밑 요소 바뀌게
        $('#tagInput').on('input',function(){
            let keyword = $('#tagInput').val();
            $.ajax({
                url:'/interest/search?keyword='+keyword,
                method: 'GET',
                success:function (result){
                    console.log(result);
                    availableContainer.empty();
                    $.each(result, function(index, tag) {
                        console.log(tag);
                        let tagElement = $("<div>").text(tag).appendTo(availableContainer);


                        tagElement.on("click", function () {
                            if (!isTagAlreadySelected(tag.name)) {
                                $(this).appendTo(selectedContainer);
                            }
                        });
                    });
                },error:function(err){
                    console.log(err);
                }
            })
        })

        //완료버튼 클릭
        $('#finishBtn').click(function(){
            selectedContainer = $(".selected-tags");
            let value = [];
            selectedContainer.find("div").each(function() {
                value.push($(this).text());
            });
            $.ajax({
                url:'/user/addInterests',
                method:'POST',
                contentType:'application/json',
                data: JSON.stringify(value),
                success:function(result){
                    if(result!=='success'){
                        alert('관심 설정 오류');
                    }
                    window.location.href='/main'

                },
                error:function(err){
                    console.log(err);
                }
            })
        })
    });
</script>
</body>
</html>