<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/user/loginInfo.css">

</head>
<body>
<div class="container">
    <div class="left-side">
        <div class="logo">WAY</div>
    </div>
    <div class="right-side">
        <div class="right-panel">
            <h1>어떤 분야에 관심이 있나요?</h1>
            <p>
                관심사 태그를 추가해주세요!<br />태그와 관련된 유저를 추천해드립니다
                😆
            </p>
            <input type="text" placeholder="태그 검색" id="tagInput" />
            <button class="next-button" id="viewAll">전체보기</button>

            <div class="selected-tags">

            </div>

            <div class="available-tags">

            </div>
            <button class="next-button" id="finishBtn">완료</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script src="/js/user/interest.js"></script>

</body>
</html>