<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="asideFragment">
    <div class="sidebar">
        <div class="sidebar-header">
            <h1>WAY</h1>
        </div>
        <div class="profile">
            <img src="텀블벅.jpg" alt="Profile Picture" />
        </div>
        <nav>
            <ul>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#experience">EXPERIENCE</a></li>
                <li><a href="#education">EDUCATION</a></li>
                <li><a href="#skills">SKILLS</a></li>
                <li><a href="#interests">INTERESTS</a></li>
                <li><a href="#awards">AWARDS</a></li>
            </ul>
        </nav>
    </div>
</div>
</html>