<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="asideFragment">
    <div class="sidebar">
        <div class="sidebar-header">
            <h1>WAY</h1>
        </div>
        <div class="profile">
<!--            <img src="텀블벅.jpg" alt="Profile Picture" />-->
        </div>
        <nav>
            <ul>
<!--                url 다시 설정하기-->
                <li><a th:href="@{/posts}">내 피드</a></li>
                <li><a href="#experience">내 프로필 설정</a></li>
                <li><a th:href="@{/user/followSetting}">친구 관리</a></li>
                <li><a href="#education">알림 설정</a></li>
                <li><a href="#skills">고객센터</a></li>
                <li><a href="#interests">로그아웃</a></li>
            </ul>
        </nav>
    </div>
</div>
</html>