body {
    font-family: Arial, sans-serif;
    margin:0;
    margin-top: 100px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: white;
    width: 1000px;
    height: auto;
    padding: 20px;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input[type="text"],
.form-group textarea,
.form-group input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
}

.form-group input[type="file"] {
    padding: 3px;
}

.form-group button {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #FF8E75;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #FFD6B0;
}