body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 8px;
    width: 1000px;
    height: auto;
    padding: 20px;
    text-align: center;
}

.subtitle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.question-section {
    margin-bottom: 20px;
}

.question-input {
    width: 700px;
    height: 100px;
    padding: 10px;
    border: 1px solid #f5f4f4;
    margin-bottom: 5px;
    border-radius: 4px;
    resize: none;
    font-size: 13px;
    color: #000000;
}
.form-group {
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
    align-items: end;
}
.send-button {
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #FF6746;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #FF8E75;
}

.answered-section {
    margin-top: 20px;
}

.answered-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.answered-question {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    width: 750px;
    text-align: left;
}

.answered-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FF8E75;
    color: white;
    font-weight: bolder;
    font-size: 13px;
    text-align: center;
    line-height: 24px;
    margin-right: 10px;
}

.user-name {
    font-weight: bolder;
    font-size: 15px;
    color: #ff6746;
}

.question-text {
    margin: 0;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.answer-text {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #ff6746;
}
.question-date{
    display: flex;
    justify-content: end;
    align-items: end;
}
.answer-input{
    width: 700px;
    height: 50px;
    padding: 10px;
    border: 1px solid #f5f4f4;
    margin-bottom: 5px;
    border-radius: 20px;
    resize: none;
    font-size: 13px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-button{
    width: 80px;
    padding: 5px;
    margin-top: 3px;
    border: none;
    border-radius: 4px;
    background-color: #FF6746;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}
.save-button{
    width: 50px;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #FF6746;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
    margin-right: 20px;
}
.cancel-button{
    width: 50px;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #FF6746;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}
.edit-button:hover {
    background-color: #FF8E75;
}
.save-button:hover {
    background-color: #FF8E75;
}
.cancel-button:hover {
    background-color: #FF8E75;
}
.rejectedBtn, .archieveBtn, .deleteBtn {
    display: flex;
    justify-content: end;
    align-items: end;
    background: none;
    cursor: pointer;
    font-size: 12px;
    color: #f9916e;
    margin-right: 10px;
    border: 1px solid #f9916e;
    border-radius: 20px;
}
.likeBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    background: none;
    border: 1px solid #ff6746;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    color: #FF6746;
    margin-right: 10px;
}
.likeCount {
    margin-left: 5px;
    font-size: 16px;
    color: #FF6347; /* Text color */
}
.pinIcon{
    display: flex;
    justify-content: end;
}
.icon-button {
    display: flex;
    justify-items: center;
    background: #f1f1f1; /* 배경 제거 */
    margin-right: 15px;
    margin-top: 10px;
    border: none; /* 테두리 제거 */
    padding: 0; /* 패딩 제거 */
    font-size: 20px; /* 아이콘 크기 조절 */
    color: #FF6746; /* 아이콘 색상 설정 (필요에 따라 변경) */
    cursor: pointer; /* 클릭 가능하게 설정 */
}

.icon-button:focus {
    outline: none; /* 포커스 시 외곽선 제거 */
}
.icon-button2{
    display: flex;
    justify-items: center;
    background: #f1f1f1; /* 배경 제거 */
    margin-right: 15px;
    margin-top: 10px;
    border: none; /* 테두리 제거 */
    padding: 0; /* 패딩 제거 */
    font-size: 20px; /* 아이콘 크기 조절 */
    color: #f60303; /* 아이콘 색상 설정 (필요에 따라 변경) */
    cursor: pointer; /* 클릭 가능하게 설정 */
}
.icon-button2:focus {
    outline: none; /* 포커스 시 외곽선 제거 */
}