/* styles.css */
.icon {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.icon i {
    font-size: 20px; /* 아이콘 크기 조정 */
    color: #000;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    font-size: 12px;
    font-weight: bold;
}

input[type="text"] {
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
}

input[type="text"]::placeholder {
    color: #888;
}
