<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>way</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<header>
    <div class="header-content">
        <a href="#overview" class="back-link">질문</a>
        <a href="#overview" class="back-link">커뮤니티</a>
        <div class="header-icons">
            <!-- <a href="#"><img src="icon1.png" alt="Icon 1"></a>
            <a href="#"><img src="icon2.png" alt="Icon 2"></a>
            <a href="#"><img src="icon3.png" alt="Icon 3"></a> -->
        </div>
        <button class="download-button">Download</button>
    </div>
</header>
<div class="sidebar">
    <div class="sidebar-header">
        <h1>WAY</h1>
    </div>
    <div class="profile">
        <img src="텀블벅.jpg" alt="Profile Picture">
    </div>
    <nav>
        <ul>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#experience">EXPERIENCE</a></li>
            <li><a href="#education">EDUCATION</a></li>
            <li><a href="#skills">SKILLS</a></li>
            <li><a href="#interests">INTERESTS</a></li>
            <li><a href="#awards">AWARDS</a></li>
        </ul>
    </nav>
</div>
</body>
</html>