<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="category">
        <span class="bookmark">즐겨 찾는 게시판</span>
        <span class="all-boards">전체 게시판</span>
    </div>
    <div class="search">
<!--        <input type="text" class=""-->
    </div>
</div>


<h1>123</h1>

</body>
</html>