<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Box</title>
  <link rel="stylesheet" th:href="@{/css/common/main.css}">
</head>
<body>
  <div layout:fragment="content">
    <h3>피드</h3>
    <div th:if="${posts.size() == 0}">
      <p>보관된 피드가 없습니다.</p>
    </div>
    <div th:if="${posts.size() > 0}" class="feed-item" th:each="post : ${posts}">
      <h2 th:text="${post.getPost().postTitle}"></h2>
      <p th:text="${post.getPost().postContent}"></p>
      <p th:text="${post.getPost().postCreatedAt}"></p>
      <p>
        <a th:href="@{/posts/{username}(username=${post.getPost().getUser().username})}" th:text="${post.getPost().getUser().nickname+' ('+post.getPost().getUser().username+')'}"></a>
      </p>
      <div class="btnContainer">
        <form th:action="@{/posts/archieve/{postId}(postId=${post.getPost().postId})}" method="post">
          <input type="hidden" name="userId" th:value="${user.getUserId()}" />
          <input type="hidden" name="postId" th:value="${post.getPost().postId}" />
          <button type="submit" class="archieveBtn">보관 취소</button>
        </form>
        <a th:href="@{'/posts/detail/' + ${post.getPost().postId}}"><button class="detailBtn"> 상세 보기</button></a>
      </div>
    </div>
    <h3>질문</h3>
    <div th:if="${questions.size() == 0}">
      <p>보관된 질문이 없습니다.</p>
    </div>
    <div th:if="${questions.size() > 0}" class="feed-item" th:each="question : ${questions}">
      <a th:if="${question.getQuestion().getQuestioner()} != null">
        <p th:text="${question.getQuestion().getQuestioner().nickname+' ('+question.getQuestion().getQuestioner().username+')'}"></p>
      </a>
      <a th:if="${question.getQuestion().getQuestioner()}== null">
        <p th:text="익명"></p>
      </a>
      <h2 th:text="${question.getQuestion().getQuestion()}"></h2>
      <p th:text="${question.getQuestion().getQuestionDate()}"></p>
      <div class="btnContainer">
        <form action="/questions/archieve" method="post">
          <input type="hidden" name="questionId" th:value="${question.getQuestion().getQuestionId()}">
          <input type="hidden" name="userId" th:value="${user.getUserId()}">
          <button type="submit" class="archieveBtn">보관 취소</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
