<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>피드 상세</title>
    <link rel="stylesheet" href="/css/feed/detailFeed.css">
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/feed/postEdit.js"></script>
    <script src="/js/feed/commentEdit.js"></script>

</head>
<body>
<div layout:fragment="content">
    <div class="post-container">
        <div class="post-header">
            <img class="profile-icon" th:src="'/display?filename='+${post.getUser().getUserImage()}" alt="Profile Picture" />
            <div class="post-info">
                <span class="username" th:text="${post.getUser().username}">username</span>
                <span class="timestamp" th:text="${#temporals.format(post.getPostCreatedAt(), 'yyyy년 MM월 dd일')}">작성일</span>
            </div>
        </div>
        <div class="post-actions">
            <button th:if="${post.getUser().getUserId() == loginUser.getUserId()}" id="editPostBtn">수정</button>
            <button th:if="${post.getUser().getUserId() == loginUser.getUserId()}" id="deletePostBtn">삭제</button>
            <button id="reportPostBtn">신고</button>
        </div>

        <div class="post-content">
            <h1 id="postTitle" th:text="${post.getPostTitle()}"></h1>
            <img th:if="${post.getPostImageUrl() != null}" th:src="'/display?filename='+${post.getPostImageUrl()}" alt="이미지 확인하기" width="500px" />
            <p id="postContent" th:text="${post.getPostContent()}"></p>

            <div id="editPostForm" style="display:none;">
                <input type="text" id="editPostTitle" />
                <input type="hidden" id="postId" th:value="${post.postId}" />
                <textarea id="editPostContent"></textarea>
                <div>
                    <button id="savePostBtn">저장</button>
                    <button id="cancelPostEditBtn">취소</button>
                </div>
            </div>
        </div>

        <div class="post-stats">
            <span class="likes">👍 <a id="likeCount" th:text="${post.getPostLike()}">좋아요 수</a></span>
            <span class="comments">💬 <a id="commentCount" th:text="${post.getPostComments().size()}">댓글 수</a></span>
            <span class="stars">⭐ <a id="scrapCount" th:text="${postBox}"></a></span>
        </div>
        <div>

        </div>
        <div class="post-tags">
            <form th:action="@{/posts/like}" method="post">
                <input type="hidden" name="userId" th:value="${loginUser.getUserId()}" />
                <input type="hidden" name="postId" th:value="${post.getPostId()}" />
                <button type="submit" class="liketag">공감</button>
            </form>
            <form th:action="@{/posts/archieve/{postId}(postId=${post.getPostId()})}" method="post">
                <input type="hidden" name="userId" th:value="${loginUser.getUserId()}" />
                <input type="hidden" name="postId" th:value="${post.getPostId()}" />
                <button type="submit" class="tag">스크랩</button>
            </form>
        </div>
        <div>
            <form class="comment-input" th:action="@{/posts/comments/{postId}(postId=${post.getPostId()})}" method="post">
                <input type="text" name="postCommentContent" id="postCommentContent" placeholder="댓글을 입력하세요." />
                <input type="hidden" name="postId" th:value="${post.getPostId()}" />
                <input type="hidden" name="userId" th:value="${loginUser.userId}" />
                <input type="hidden" name="parentCommentPreCommentId" th:value="null">
                <button type="submit">➤</button>
            </form>
        </div>
        <div class="comments-section">
            <div th:each="comment : ${post.postComments}">
                <div th:if="${comment.postCommentPreCommentId == null}" class="list-group-item">
                    <h1 class="comment-text" th:text="${comment.getUser().getUsername()}"></h1>
                    <p class="comment-text" th:text="${comment.getPostCommentContent()}"></p>
                    <input type="hidden" id="commentId" th:value="${comment.getPostCommentId()}">
                    <button class="edit-comment-btn" th:data-comment-id="${comment.getPostCommentId()}">수정</button>
                    <button class="delete-comment-btn" th:data-comment-id="${comment.getPostCommentId()}">삭제</button>
                    <button class="reply-comment-btn" th:data-comment-id="${comment.getPostCommentId()}">답글</button>
                    <div th:id="'editCommentForm-' + ${comment.getPostCommentId()}" class="edit-comment-form" style="display:none;">
                        <textarea th:id="'editCommentContent-' + ${comment.getPostCommentId()}"></textarea>
                        <input type="hidden" th:id="'commentId-' + ${comment.getPostCommentId()}" th:value="${comment.getPostCommentId()}" />
                        <button class="save-comment-btn" th:data-comment-id="${comment.getPostCommentId()}">저장</button>
                        <button class="cancel-edit-btn" th:data-comment-id="${comment.getPostCommentId()}">취소</button>
                    </div>
                    <div th:id="'replyCommentForm-' + ${comment.getPostCommentId()}" class="reply-comment-form" style="display:none;">
                        <textarea th:id="'replyCommentContent-' + ${comment.getPostCommentId()}"></textarea>
                        <input type="hidden" name="postId" th:value="${post.getPostId()}" />
                        <input type="hidden" name="userId" th:value="${loginUser.getUserId()}" />
                        <input type="hidden" th:value="${comment.getPostCommentId()}" />
                        <button class="submit-reply-btn" th:data-comment-id="${comment.getPostCommentId()}">답글 작성</button>
                        <button class="cancel-reply-btn" th:data-comment-id="${comment.getPostCommentId()}">취소</button>
                    </div>

                    <div th:each="reply : ${post.postComments}"
                         th:if="${reply.postCommentPreCommentId == comment.postCommentId}"
                         class="reply-item">
                        <h1 class="comment-text" th:text="${reply.getUser().getUsername()}"></h1>
                        <p class="comment-text" th:text="${reply.getPostCommentContent()}"></p>
                        <input type="hidden" id="replyId" th:value="${reply.getPostCommentId()}">
                        <button class="edit-comment-btn" th:data-comment-id="${reply.getPostCommentId()}">수정</button>
                        <button class="delete-comment-btn" th:data-comment-id="${reply.getPostCommentId()}">삭제</button>
                        <div th:id="'editReplyForm-' + ${reply.getPostCommentId()}" class="edit-reply-form" style="display:none;">
                            <textarea th:id="'editCommentContent-' + ${reply.getPostCommentId()}"></textarea>
                            <input type="hidden" th:id="'commentId-' + ${reply.getPostCommentId()}" th:value="${reply.getPostCommentId()}" />
                            <button class="save-comment-btn" th:data-comment-id="${reply.getPostCommentId()}">저장</button>
                            <button class="cancel-reply-edit-btn" th:data-comment-id="${reply.getPostCommentId()}">취소</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
