<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>rejectedfilterQuestionPage</title>
    <link rel="stylesheet" th:href="@{/css/feed/questionPage.css}">
    <script src="/js/feed/report_question.js"></script>
</head>
<body>
<div layout:fragment="content">
    <h1>거절 질문 목록</h1>
    <div class="answered-section">
        <div class="answered-question" th:each="q : ${question}">
            <div class="answered-header">
                <span class="user-icon">Q</span>
                <span th:text="${q.isAnonymous == false} ? ${q.getQuestioner().username} : '익명'"></span>
            </div>
            <div class="form-group">
                <div th:if="${user.getUserId()} == ${loginUser.getUserId()}">
                    <form action="/questions/enroll/rejected" method="post">
                        <input type="hidden" name="questionId" th:value="${q.getQuestionId()}">
                        <button type="submit" class="rejectedBtn">거절 취소</button>
                    </form>
                </div>
                <!-- 신고 -->
                <div>
                    <input type="hidden" name="questionId" th:value="${q.getQuestionId()}">
                    <button class="reportBtn">질문 신고</button>
                </div>
                <div>
                    <form action="/questions/delete" method="post">
                        <input type="hidden" name="questionId" th:value="${q.getQuestionId()}">
                        <button type="submit" class="deleteBtn">질문 삭제</button>
                    </form>
                </div>
            </div>
            <p class="question-text" th:text="${q.getQuestion()}">질문</p>
            <img th:if="${q.getQuestionImageUrl() != null}" th:src="'/display?filename='+${q.getQuestionImageUrl()}" alt="questionImgUrl"  class="question-image" width="300px">
            <div class="form-group" th:if="${user.getUserId() != loginUser.getUserId()}">
                <form th:action="@{/questions/like}" method="post">
                    <input type="hidden" name="userId" th:value="${loginUser.getUserId()}">
                    <input type="hidden" name="questionId" th:value="${q.getQuestionId()}">
                    <button type="submit" class="likeBtn">
                        ❤<span class="likeCount" th:text="${q.getQuestionLike()}"></span>
                    </button>
                </form>
            </div>
            <div class="form-group" th:if="${user.getUserId() == loginUser.getUserId()}">
                <button type="submit" class="likeBtn">
                    ❤<span class="likeCount" th:text="${q.getQuestionLike()}"></span>
                </button>
            </div>
            <p class="question-date" th:text="'질문 작성 날짜: '+${#temporals.format(q.getQuestionDate(), 'yyyy년 MM월 dd일')}">질문 작성 날짜</p>
            <a th:if="${q.getAnswer() != null} ">
                <p class="answer-text" th:text="${q.getAnswer()}">답변</p>
                <div class="form-group">
                    <p class="answer-date" th:text="'답장 날짜: '+${#temporals.format(q.getAnswerDate(), 'yyyy년 MM월 dd일')}">답변 작성 날짜</p>
                </div>
            </a>
        </div>
    </div>
</div>
</body>
</html>
