<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat Application</title>
    <script src="https://cdn.jsdelivr.net/sockjs/1.0.2/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="/css/chat/chat-room.css">
    <script src="/js/chat/chat-room.js"></script>
</head>
<body>
<div class="header">
    <h2 class="title">여긴 제목</h2>
    <div class="menu">≡</div>
</div>
<div class="container" id="chat-container">
    <div class="chat-message" th:each="message : ${messages}">
        <div class="user-icon">유저이름</div>
        <div class="text" th:text="${message.text}"></div>
        <div class="message-time" th:text="${message.createdAt}"></div>
    </div>
</div>
<div class="footer">
    <input type="text" id="message-input" placeholder="메시지를 입력하세요">
    <button onclick="sendMessage()" class="submit-button right">보내기</button>
</div>
</body>
</html>
