.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


.chat-room-list {
    width: 50%; /* 너비를 절반으로 설정 */
    margin: 0 auto; /* 가로로 가운데 정렬 */
}

.chat-room-list > a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 텍스트 색상 상속 */
    display: block; /* a 태그가 블록 요소처럼 작동하도록 설정 */
    width: 100%; /* 부모 요소의 너비를 꽉 채우도록 설정 */
}

.chat-room-info {
    background-color: #FFD6B0; /* 주황색 배경 */
    border-radius: 10px; /* 둥근 테두리 */
    padding: 20px;
    padding-top: 10px; /* 내부 여백 */
    margin: 50px 0; /* 위아래 여백 */
    width: 100%; /* 가로로 꽉 차게 설정 */
    display: flex; /* 플렉스박스를 사용하여 수평 배치 */
    flex-direction: column;
    justify-content: space-between; /* 요소 사이의 공간을 균등하게 배분 */
}

.top {
    display: flex; /* 플렉스박스를 사용하여 수평 배치 */
    justify-content: space-between; /* 요소 사이의 공간을 균등하게 배분 */
    align-items: center; /* 수직 정렬 */
}

.new-message {
    background-color: white; /* 빨간색 배경 */
    color: #e55a34; /* 흰색 글자 */
    padding: 5px 10px; /* 내부 여백 */
    border-radius: 5px; /* 둥근 모서리 */
    font-size: 15px;
    font-weight: bold;
}